body{
    background-color: deepskyblue;
    font: 15pt Arial;

}
header{
    text-align: center;

}section{
    padding: 5px;
    width: 500px;
    margin: auto;
    background-color: dimgrey;
    border-radius: 5px;
}