body{
    background-color: skyblue;
    font: 15pt Arial;

}
header{
    text-align: center;
    color:rgb(19, 65, 71);
}
section{
    margin: auto;
    width: 500px;
    padding: 5px;
    background-color: lightsteelblue;
    border-radius: 5px;
}